{{ ansible_managed | comment }}
# This is a single-NIC configuration to implement the required bridges
# for OpenStack-Ansible. This illustrates the configuration of the first
# Infrastructure host and the IP addresses assigned should be adapted
# for implementation on the other hosts.
#
# After implementing this configuration, the host will need to be
# rebooted.

# Physical interface
auto {{ oas_interface }}
iface {{ oas_interface }} inet manual

# Container/Host management VLAN interface
auto {{ oas_interface }}.10
iface {{ oas_interface }}.10 inet manual
    vlan-raw-device {{ oas_interface }}

# OpenStack Networking VXLAN (tunnel/overlay) VLAN interface
auto {{ oas_interface }}.30
iface {{ oas_interface }}.30 inet manual
    vlan-raw-device {{ oas_interface }}

# Storage network VLAN interface (optional)
auto {{ oas_interface }}.20
iface {{ oas_interface }}.20 inet manual
    vlan-raw-device {{ oas_interface }}

{% if flag_mgmt_ip %}
# Container/Host management bridge
auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ oas_interface }}.10
    address {{ oas_mgmt_ip }}
    netmask {{ oas_mgmt_mask }}
    gateway {{ oas_mgmt_gw }}
    dns-nameservers {{ oas_mgmt_dns }}

{% endif %}
# OpenStack Networking VXLAN (tunnel/overlay) bridge
#
# Only the COMPUTE and NETWORK nodes must have an IP address
# on this bridge. When used by infrastructure nodes, the
# IP addresses are assigned to containers which use this
# bridge.
#
auto br-vxlan
iface br-vxlan inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ oas_interface }}.30

{% if flag_vxlan_ip %}
# compute1 VXLAN (tunnel/overlay) bridge config
auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ oas_interface }}.30
    address {{ oas_vxlan_ip }}
    netmask {{ oas_vxlan_mask }}

{% endif %}
# OpenStack Networking VLAN bridge
auto br-vlan
iface br-vlan inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ oas_interface }}

# compute1 Network VLAN bridge
#auto br-vlan
#iface br-vlan inet manual
#    bridge_stp off
#    bridge_waitport 0
#    bridge_fd 0
#
# For tenant vlan support, create a veth pair to be used when the neutron
# agent is not containerized on the compute hosts. '{{ oas_interface }}2' is the value used on
# the host_bind_override parameter of the br-vlan network section of the
# openstack_user_config example file. The veth peer name must match the value
# specified on the host_bind_override parameter.
#
# When the neutron agent is containerized it will use the container_interface
# value of the br-vlan network, which is also the same '{{ oas_interface }}2' value.
#
# Create veth pair, do not abort if already exists
#    pre-up ip link add br-vlan-veth type veth peer name {{ oas_interface }}2 || true
# Set both ends UP
#    pre-up ip link set br-vlan-veth up
#    pre-up ip link set {{ oas_interface }}2 up
# Delete veth pair on DOWN
#    post-down ip link del br-vlan-veth || true
#    bridge_ports {{ oas_interface }} br-vlan-veth

# Storage bridge (optional)
#
# Only the COMPUTE and STORAGE nodes must have an IP address
# on this bridge. When used by infrastructure nodes, the
# IP addresses are assigned to containers which use this
# bridge.
#
auto br-storage
iface br-storage inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ oas_interface }}.20
{% if flag_storage_ip %}

# compute1 Storage bridge
auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ oas_interface }}.20
    address {{ oas_storage_ip }}
    netmask {{ oas_storage_mask }}
{% endif %}
