---
{{ ansible_managed | comment }}
cidr_networks:
  container: 172.29.236.0/22
  tunnel: 172.29.240.0/22
  storage: 172.29.244.0/22

used_ips:
  - "172.29.236.1,172.29.236.50"
  - "172.29.240.1,172.29.240.50"
  - "172.29.244.1,172.29.244.50"
  - "172.29.248.1,172.29.248.50"

global_overrides:
  internal_lb_vip_address: {{ oas_infra1_mgmt_ip }}
  external_lb_vip_address: {{ oas_infra1_mgmt_ip }}
  tunnel_bridge: "br-vxlan"
  management_bridge: "br-mgmt"
  provider_networks:
    - network:
        container_bridge: "br-mgmt"
        container_type: "veth"
        container_interface: "eth1"
        ip_from_q: "container"
        type: "raw"
        group_binds:
          - all_containers
          - hosts
        is_container_address: true
        is_ssh_address: true
    - network:
        container_bridge: "br-vxlan"
        container_type: "veth"
        container_interface: "eth10"
        ip_from_q: "tunnel"
        type: "vxlan"
        range: "1:1000"
        net_name: "vxlan"
        group_binds:
          - neutron_linuxbridge_agent
    - network:
        container_bridge: "br-vlan"
        container_type: "veth"
        container_interface: "eth12"
        host_bind_override: "eth12"
        type: "flat"
        net_name: "flat"
        group_binds:
          - neutron_linuxbridge_agent
    - network:
        container_bridge: "br-vlan"
        container_type: "veth"
        container_interface: "eth11"
        type: "vlan"
        range: "1:1"
        net_name: "vlan"
        group_binds:
          - neutron_linuxbridge_agent
    - network:
        container_bridge: "br-storage"
        container_type: "veth"
        container_interface: "eth2"
        ip_from_q: "storage"
        type: "raw"
        group_binds:
          - glance_api
          - cinder_api
          - cinder_volume
          - nova_compute

###
### Infrastructure
###

# galera, memcache, rabbitmq, utility
shared-infra_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# repository (apt cache, python packages, etc)
repo-infra_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# load balancer
haproxy_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

###
### OpenStack
###

# keystone
identity_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# cinder api services
storage-infra_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# glance
image_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# nova api, conductor, etc services
compute-infra_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# heat
orchestration_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# horizon
dashboard_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# neutron server, agents (L3, etc)
network_hosts:
  infra1:
    ip: {{ oas_infra1_mgmt_ip }}

# nova hypervisors
compute_hosts:
  compute1:
    ip: {{ oas_compute1_mgmt_ip }}

# cinder storage host (LVM-backed)
storage_hosts:
  storage1:
    ip: {{ oas_storage1_mgmt_ip }}
    container_vars:
      cinder_backends:
        limit_container_types: cinder_volume
        lvm:
          volume_group: cinder-volumes
          volume_driver: cinder.volume.drivers.lvm.LVMVolumeDriver
          volume_backend_name: LVM_iSCSI
          iscsi_ip_address: "{{ oas_storage1_iscsi_ip }}"
